body, h1, h2, form, input, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh;
  padding-top: 40px; 
}

/* Naslovi */
h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
h {
  color: #918e8e;
  text-align: center;
  margin-bottom: 10px;
}

/* Stilizacija forme */
form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px; /* Ostavlja razmak ispod forme */
}

/* Stilizacija input polja */
form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Submit dugme */
input[type="submit"] {
  background-color: #2835a7;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  margin-top: 10px;
  transition: background 0.3s;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #232188;
}

.prediction-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  text-align: center;
  margin-top: 30px; /* Povećan razmak ispod forme */
  margin-bottom: 20px; /* Sprječava da bude zalijepljeno na dnu */
}

/* Stil za grešku */
h2.error {
  background: #dc3545;
  color: white;
}

/* Responsive dizajn */
@media screen and (max-width: 600px) {
  form {
      width: 95%;
      padding: 15px;
  }
  .prediction-container {
      width: 95%;
  }
}
